* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #FFFFFF;
}

.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

.header {
  padding: 80px;
  text-align: center;
  background: #b8eb53;
  color: black;
}

.header h1 {
  font-size: 40px;
}

.main {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 20px;
}

@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}

.navbar {
  overflow: hidden;
  background-color: #ccff66;
}

.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a.right {
  float: right;
}

.navbar a:hover {
  background-color: #e8ffc5;
  color: black;
}

ol {
  list-style-type: decimal;
  list-style-position: outside;
}

.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}


